{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["import", "unused-imports"],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "unused-imports/no-unused-imports": "warn",
    "import/order": ["warn", { "alphabetize": { "order": "asc" } }]
  }
}
