{
  "extends": ["prettier"],
  "plugins": ["@docusaurus", "import", "unused-imports"],
  "rules": {
    "unused-imports/no-unused-imports": "warn",
    "import/order": ["warn", { "alphabetize": { "order": "asc" } }]
  }
}
